header {
            background-color: #444;
            color: #fff;
            text-align: center;
            padding: 20px;
            margin-top: 60px; /* Offset so that the content isn't hidden under the bar */
            top: 0; /* L'ancre en haut de la page */
            left: 0;
            right: 0;
            z-index: 1000;
        }
h1 {
    margin-bottom: 10px; /* Ajout d'un espace entre le titre et le sous-titre */
}

h2 {
    display: block; /* Assure que h2 occupe toute la ligne */
}


header h1 {
  font-size: 3em; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  margin: 0;
  padding: 0;
  text-transform: uppercase; /* Texte en majuscules */
  letter-spacing: 2px; /* Espacement entre les lettres */
}

header p {
  font-size: 1.2em;
  margin: 10px 0 0;
  padding: 0;
  color: #f0f0f0; /* Texte légèrement plus clair */
  font-style: italic; /* Une touche italique pour le style */
}


/* Style général pour la page */
body {
  background-color: #fdf5e6; /* Beige clair */
  color: #4a4a4a; /* Texte gris foncé pour un bon contraste */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Style pour le contenu principal */
main {
  max-width: 800px;
  margin: 50px auto; /* Centre le contenu horizontalement et ajoute un espace vertical */
  padding: 20px;
  background-color: transparent; /* Suppression du fond blanc */
  text-align: center; /* Centrage du texte */
}

/* Style pour les titres */
main h2 {
  font-size: 2em;
  color: #333333;
  margin-bottom: 20px;
}

/* Style pour les paragraphes */
main p {
  font-size: 1.1em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

/* Ajout d'un effet hover sur les liens */
main a {
  color: #8b4513; /* Brun doux */
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
  color: #654321; /* Brun foncé pour un effet de survol */
}



/* Style de la barre fixe */
.top-bar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 100;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

/* Menu caché */
.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #444;
    width: 200px;
    height: 100%;
    padding-top: 50px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Effet lorsque le menu est visible */
.menu.show {
    display: block;
}

